@import color
@import font
@import typo

// default style 

html 
  font: $base-size $smallfont-stack
  line-height: $line-height
  background-color: $bg-color
  color: $smallfont-color

body 
  width: $width
  background: $bg-img

a 
  text-decoration: none
  color: $a-color
  &:hover 
    color: $a-hover-color
  
