!!!5
/ design for: text, photo, link, video
%html
  %head
    %title {Title}
    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %link{rel:"alternate", type:"application/rss+xml", href:"{RSS}"}
    %link{rel:"stylesheet", href:"http://cicirao.github.io/fyl/css/reset.css"}
    %link{rel:"stylesheet", href:"http://cicirao.github.io/tumblr-theme/css/screen.css"}
  %body
    #page
      %header
        %h1 {Title}
        -# don't know why here needs a \n
        {block:Description}
        %h3 {Description}
        {/block:Description}
      %main
        {block:Posts}
        {block:Text}
        %article
          {block:Title}
          %header
            %h2 {Title}
          {/block:Title}
          .content {Body}
          %footer
            {block:HasTags} 
            {block:Tags}
            %ul Tagged:
              %li
                %a{href:"{TagURL}"} {Tag}
              {/block:Tags}
            {/block:HasTags} 
        {/block:Text}
        {block:Photo}
        %article.photo
          / how can I make the img self closed without this comment?
          %img.profile{src: "{PhotoURL-HighRes}", alt: "{PhotoAlt}", title: "{PhotoAlt}"}
          {block:Caption}
          %header
            %h2 {Caption}
          {/block:Caption}
          %footer
            {block:HasTags} 
            {block:Tags}
            %ul Tagged:
              %li
                %a{href:"{TagURL}"} {Tag}
              {/block:Tags}
            {/block:HasTags} 
        {/block:Photo}
        {block:Link}
        / the {Target} is a little tricky, not sure where to put it
        %article.link
          {block:Description}
            %h2 {Description}
          {/block:Description}
          %a{href:"{URL}"} {Name}
          -# indentation issue
          %footer
            {block:HasTags} 
            {block:Tags}
            %ul Tagged:
              %li
                %a{href:"{TagURL}"} {Tag}
              {/block:Tags}
            {/block:HasTags} 
        {/block:Link}
        {block:Video}
        %article.video
          .content {Video-500}
            / generate fallback  
            %p 
              If the video can not be displayed, download it 
              / I didn't find a viriable for the download link here
              %a{href:"#"} here
          -# ??
          {block:Caption}
          %header
            / the caption is h2 in html, but generated as h1 by tumblr
            %h2 {Caption}
          {/block:Caption}
          %footer
            {block:HasTags} 
            {block:Tags}
            %ul Tagged
              %li
                %a{href:"{TagURL}"} {Tag}
              {/block:Tags}
            {/block:HasTags} 
        {/block:Video}
        {/block:Posts}
      %footer
        %a{href:"{RSS}"} RSS Feed   
    %script{src:"http://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"}
    / Inner js is a tricky in haml
    %script
      WebFont.load({
        google: {
          families: ['Open Sans', 'Oswald:300']
        }
      });